
.hidden {
  display: none;
}

body {
  text-align: center;
}

footer {
  margin-top: 30px;
  margin-bottom: 18px;
}

a {
  color: #0069d9; /* Bootstrap default: #007bff */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  font-size: 20px;
  white-space: nowrap;
  opacity: 0.8;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar .navbar-left, .navbar .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.navbar .navbar-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}

.navbar a, .navbar a:hover, .navbar .btn-link {
  color: white;
}

/* How To Create a Scroll To Top Button */
/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 15px; /* Place the button at the bottom of the page */
  left: 20px; /* Place the button from the left */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #007bff; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0 11px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 36px; /* Increase font size */
  opacity: 0.5;
}

#backToTopBtn:hover {
  background-color: #17a2b8; /* Add a background on hover */
}

#chartModal .modal-dialog {
  max-width: 98%;
}
#chartModal .modal-dialog .modal-body {
  white-space: nowrap;
}
#caseDetailModal .modal-dialog {
  max-width: 98%;
}
#caseDetailModal .modal-dialog .modal-body #table-casedetails {
  white-space: nowrap;
}

/* Bootstrap 4 style grid as table */
/* https://www.codeply.com/go/IDBemcEAyL */
.grid-striped .row:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

/* Start of Radio Button CSS */
/* https://codepen.io/mblode/pen/gGIAm/ */

.button-wrap {
  text-align: center;
  margin-right: 0;
  margin-left: -10px;
}
.button-wrap .col {
  padding-right: 8px;
  padding-left: 8px;
}

.button-label {
  display: inline-block;
  /*padding: 1em 2em;*/
  padding: 1em 0.1em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.button-label {
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
}
.button-label .district-name-en {
  display: initial;
}
.button-label .district-name-id {
  display: none;
}
.button-label .badge {
  font-size: 0.85em;
}
@media (max-width: 1000px) {
  .button-wrap .col {
    padding-right: 5px;
    padding-left: 5px;
  }
  .button-label {
    margin: 0.3em;
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .button-wrap .col {
    padding-right: 3px;
    padding-left: 3px;
  }
  .button-label {
    padding: 0.5em 0.1em;
    margin: 0.1em;
    font-size: 1.3em;
  }
  .button-label .district-name-en {
    display: none;
  }
  .button-label .district-name-id {
    display: initial;
  }
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
/*
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}
*/

#district-cnw:checked + .button-label {
  background: #0860a8;
  color: #efefef;
}
#district-cnw:checked + .button-label:hover {
  background: #0860a8;
  color: #e2e2e2;
}

#district-e:checked + .button-label {
  background: #0860a8;
  color: #efefef;
}
#district-e:checked + .button-label:hover {
  background: #0860a8;
  color: #e2e2e2;
}

#district-is:checked + .button-label {
  background: #fe7f1d;
  color: #efefef;
}
#district-is:checked + .button-label:hover {
  background: #fe7f1d;
  color: #e2e2e2;
}

#district-kc:checked + .button-label {
  background: #9a3b26;
  color: #efefef;
}
#district-kc:checked + .button-label:hover {
  background: #9a3b26;
  color: #e2e2e2;
}

#district-knt:checked + .button-label {
  background: #fe7f1d;
  color: #efefef;
}
#district-knt:checked + .button-label:hover {
  background: #fe7f1d;
  color: #e2e2e2;
}

#district-kt:checked + .button-label {
  background: #1a9431;
  color: #efefef;
}
#district-kt:checked + .button-label:hover {
  background: #1a9431;
  color: #e2e2e2;
}

#district-n:checked + .button-label {
  background: #5eb6e4;
  color: #efefef;
}
#district-n:checked + .button-label:hover {
  background: #5eb6e4;
  color: #e2e2e2;
}

#district-s:checked + .button-label {
  background: #b5bd00;
  color: #efefef;
}
#district-s:checked + .button-label:hover {
  background: #b5bd00;
  color: #e2e2e2;
}

#district-sk:checked + .button-label {
  background: #6b208b;
  color: #efefef;
}
#district-sk:checked + .button-label:hover {
  background: #6b208b;
  color: #e2e2e2;
}

#district-ssp:checked + .button-label {
  background: #ff0000;
  color: #efefef;
}
#district-ssp:checked + .button-label:hover {
  background: #ff0000;
  color: #e2e2e2;
}

#district-st:checked + .button-label {
  background: #5eb6e4;
  color: #efefef;
}
#district-st:checked + .button-label:hover {
  background: #5eb6e4;
  color: #e2e2e2;
}

#district-tm:checked + .button-label {
  background: #a40084;
  color: #efefef;
}
#district-tm:checked + .button-label:hover {
  background: #a40084;
  color: #e2e2e2;
}

#district-tp:checked + .button-label {
  background: #5eb6e4;
  color: #efefef;
}
#district-tp:checked + .button-label:hover {
  background: #5eb6e4;
  color: #e2e2e2;
}

#district-tw:checked + .button-label {
  background: #a40084;
  color: #efefef;
}
#district-tw:checked + .button-label:hover {
  background: #a40084;
  color: #e2e2e2;
}

#district-wc:checked + .button-label {
  background: #0860a8;
  color: #efefef;
}
#district-wc:checked + .button-label:hover {
  background: #0860a8;
  color: #e2e2e2;
}

#district-wts:checked + .button-label {
  background: #1a9431;
  color: #efefef;
}
#district-wts:checked + .button-label:hover {
  background: #1a9431;
  color: #e2e2e2;
}

#district-yl:checked + .button-label {
  background: #a40084;
  color: #efefef;
}
#district-yl:checked + .button-label:hover {
  background: #a40084;
  color: #e2e2e2;
}

#district-ytm:checked + .button-label {
  background: #ff0000;
  color: #efefef;
}
#district-ytm:checked + .button-label:hover {
  background: #ff0000;
  color: #e2e2e2;
}

/* End of Radio Button CSS */

/* Start of Radio Button CSS */
/* https://freefrontend.com/css-radio-buttons/ */
/* https://codepen.io/aaroniker/pen/ZEYoxEY */
/* https://codepen.io/CameronFitzwilliam/pen/RxYbgg */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'].toggle,
  input[type='radio'].toggle {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
  }
  input[type='checkbox'].toggle:after,
  input[type='radio'].toggle:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type='checkbox'].toggle:checked,
  input[type='radio'].toggle:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox'].toggle:disabled,
  input[type='radio'].toggle:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }
  input[type='checkbox'].toggle:disabled:checked,
  input[type='radio'].toggle:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type='checkbox'].toggle:disabled + label,
  input[type='radio'].toggle:disabled + label {
    cursor: not-allowed;
  }
  input[type='checkbox'].toggle:hover:not(:checked):not(:disabled),
  input[type='radio'].toggle:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type='checkbox'].toggle:focus,
  input[type='radio'].toggle:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox'].toggle:not(.switch),
  input[type='radio'].toggle:not(.switch) {
    width: 21px;
  }
  input[type='checkbox'].toggle:not(.switch):after,
  input[type='radio'].toggle:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type='checkbox'].toggle:not(.switch):checked,
  input[type='radio'].toggle:not(.switch):checked {
    --o: 1;
  }
  input[type='checkbox'].toggle + label,
  input[type='radio'].toggle + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type='checkbox'].toggle:not(.switch) {
    border-radius: 7px;
  }
  input[type='checkbox'].toggle:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox'].toggle:not(.switch):checked {
    --r: 43deg;
  }
  input[type='checkbox'].toggle.switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type='checkbox'].toggle.switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].toggle.switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type='checkbox'].toggle.switch:disabled:not(:checked):after {
    opacity: .6;
  }

  input[type='radio'].toggle {
    border-radius: 50%;
  }
  input[type='radio'].toggle:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  input[type='radio'].toggle:checked {
    --s: .5;
  }
}

/* End of Radio Button CSS */
